[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
chardet = "*"
idna = "*"
pkginfo = "*"
requests = "*"
requests-toolbelt = "*"
tqdm = "*"
twine = "*"
urllib3 = "*"

[dev-packages]

[requires]
python_version = "3.12"
